* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'zain', sans-serif;
}

ul {
    list-style: none;
}

.header {
    background-image: url('fotos/aviao_background.jpg');
    background-color: rgb(15, 2, 162);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center;
}

.header h1 {
    color: #3590F3; 
    font-size: 4.0rem;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.header h1 img {
    width: 75px;
    height: auto;
}

.header h2 {
    color: #fff; 
    font-size: 2.5rem;
}

.header p {
    color: #fff; 
    font-size: 1.5rem; 
}

.header h1, .header h2, .header p {
    text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    flex-wrap: wrap;
}

.Card {
  flex: 0 0 240px;
  aspect-ratio: 1 / 1;
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s;
  text-align: center;
  position: relative;
}

.Card::before {
  content: "";
  display: block;
  width: 100%;
  height: 8px; 
  background: #003F91; 
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
}

.Card img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin-top: 10px;
}

.Card:hover {
  transform: translateY(-5px);
}

.Card h2 {
  font-size: 1.2rem;
  color: #333;
  margin: 10px 0;
}

.Card p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
}
